flight.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions targetNamespace="http://soap.training.mulesoft.com/" name="TicketServiceService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.training.mulesoft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<wsdl:types>
<xs:schema targetNamespace="http://soap.training.mulesoft.com/" xmlns:tns="http://soap.training.mulesoft.com/" version="1.0" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="findFlight" type="tns:findFlight"/>
<xs:element name="findFlightResponse" type="tns:findFlightResponse"/>
<xs:element name="listAllFlights" type="tns:listAllFlights"/>
<xs:element name="listAllFlightsResponse" type="tns:listAllFlightsResponse"/>
<xs:complexType name="listAllFlights">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="listAllFlightsResponse">
<xs:sequence>
<xs:element name="return" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="flight">
<xs:sequence>
<xs:element name="airlineName" type="xs:string" minOccurs="0"/>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="departureDate" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="emptySeats" type="xs:int"/>
<xs:element name="origin" type="xs:string" minOccurs="0"/>
<xs:element name="planeType" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="findFlight">
<xs:sequence>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="findFlightResponse">
<xs:sequence>
<xs:element name="return" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="listAllFlightsResponse">
<wsdl:part name="parameters" element="tns:listAllFlightsResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="findFlight">
<wsdl:part name="parameters" element="tns:findFlight"> </wsdl:part>
</wsdl:message>
<wsdl:message name="findFlightResponse">
<wsdl:part name="parameters" element="tns:findFlightResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="listAllFlights">
<wsdl:part name="parameters" element="tns:listAllFlights"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="TicketService">
<wsdl:operation name="listAllFlights">
<wsdl:input name="listAllFlights" message="tns:listAllFlights"> </wsdl:input>
<wsdl:output name="listAllFlightsResponse" message="tns:listAllFlightsResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="findFlight">
<wsdl:input name="findFlight" message="tns:findFlight"> </wsdl:input>
<wsdl:output name="findFlightResponse" message="tns:findFlightResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="TicketServiceServiceSoapBinding" type="tns:TicketService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="listAllFlights">
<soap:operation style="document" soapAction=""/>
<wsdl:input name="listAllFlights">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="listAllFlightsResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="findFlight">
<soap:operation style="document" soapAction=""/>
<wsdl:input name="findFlight">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="findFlightResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="TicketServiceService">
<wsdl:port name="TicketServicePort" binding="tns:TicketServiceServiceSoapBinding">
<soap:address location="http://mu.mulesoft-training.com/essentials/delta"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>